dev{
    background: antiquewhite;
}

table, td {
    background: #ccc;
    border: solid 1px;
}

image{
    width: 200px;
    height: 200px;
}

.box{
    background-color: aquamarine;
    height: 40px;
    padding: 2px;
    margin: 2px;
    border: #ccc 2px solid;
}

#aisle{
    background-color: #ccc;
}

.aisle{
    background-color: #ccc;
}

.seating_area{
    background-color: #c4c4c4;
}