dev{
    background: antiquewhite;
}

table, td {
    background: #ccc;
    border: solid 1px;
}

image{
    width: 200px;
    height: 200px;
}


.aisle{
    background-color: #ccc;
}

.seating_area{
    background-color: #c4c4c4;
}

.info-booking{
    background-color: #67a7e7;
}

.seating{
    background-color: #f8f9fa;
}

.box{
    text-align: center;
    height: 90px;
    width: 90px;
    margin: 2px;
    padding: 10px;
}

.chair{
    background-image: url("../img/chair.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    height: 70px;
    
}

.number-chair{
    z-index: 10;
    color: black;
    margin: 20px 10px  ;
}

h6.number-chair {
    padding: 15px;
    margin: 0px;
    color: #67a7e7;
}

.booked{
    background-color: #67a7e7 !important;
}


